body {
	background-color: #C8B6A6;
	color: #A4907C;
	font-family: Arial;
}
h1, h2 {
	font-family: Arial;
}
h1 {
	color: #815B5B;
	font-weight: 200;
	letter-spacing: 2px;
	font-size: 40px;
}
h2 {
	color: #8D7B68;
	font-size: 20px;
	text-transform: uppercase;
}
a {
	text-decoration: none;
	color: #815B5B;
}
a:hover {
	color:lightpink;
}

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: antiquewhite;
	padding: 55px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	border-radius: 5px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #A4907C;
	color: white;
	padding: 8px 13px;
	border-radius: 5px;
}

.btn-blue:hover {
	background-color: #815B5B;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 25px;
	color: #815B5B;
}

.list-inline i:hover {
	color: #C8B6A6;
}

#introduction p {
	margin-bottom: 30px;
}




